/* PC */

@media (min-width:1024px) {}


/* Tablet and Mobile */

@media (max-width:1023px) {
    .header {
        padding: 10px 30px;
    }
    .slider__wrapper,
    .about__wrapper,
    .dishes__wrapper,
    .menu__wrapper,
    .reviews__wrapper {
        padding: 20px 30px;
    }
}


/* Tablet */

@media (min-width:740px) and (max-width:1023px) {
    .header__logo {
        font-size: 20px;
    }
    .header__navbar-list a {
        margin: 0 2px;
    }
    .header__navbar-item {
        font-size: 14px;
        padding: 5px 10px;
    }
    .header__icons i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }
    .slide__content h3 {
        font-size: 50px;
    }
    .slide__content span {
        font-size: 18px;
    }
    .about__content h3 {
        font-size: 25px;
        padding: 5px 0;
    }
    .about__icon {
        min-width: 170px;
        padding: 5px 15px;
    }
    .order__wrapper,
    .footer__wrapper {
        padding: 20px 50px;
        margin: 0 30px;
    }
}


/* Mobile */

@media (max-width:739px) {
    .header__navbar-list {
        position: fixed;
        top: 54px;
        left: 0;
        right: 0;
        background-color: #ccc;
        /* border: 1px solid rgba(0, 0, 0, 0.2); */
        display: flex;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header__navbar-list.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header__navbar-list a {
        margin: 0;
    }
    .header__navbar-item {
        padding: 5px 30px;
    }
    .header__icons i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
    }
    #mobileNav {
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
    .slide__content h3 {
        font-size: 40px;
    }
    .slide__content span {
        font-size: 18px;
    }
    .about__content h3 {
        font-size: 20px;
        padding: 5px 0;
    }
    .menu__img {
        height: 100%;
    }
    .order__wrapper,
    .footer__wrapper {
        padding: 20px 30px;
        margin: 0 10px;
    }
}